<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Average Rating</dt>
          <dd><%= @product.reviews.average(:rating).present? ? @product.reviews.average(:rating).round(2) : "Not Rated" %></dd>
        </dl>
      </div>
    </div>

    <% if current_user %>
      <%= form_for :reviews, url: product_reviews_path(@product, :review),  :html => {:class => "review-form"} do |form| %>
        <h4>Review the Product</h4>
        <%= form.hidden_field :product_id, :value => @product.id %>
        <%= form.hidden_field :user_id, :value =>  current_user.id %>
        <%= form.text_area :description, cols: 70, rows: 7,placeholder: "Write your review here", autofocus: true %>
        <%= form.select :rating, options_for_select([["Rating", ""], "1", "2", "3", "4", "5"]) %>
        <button type="submit" class="btn-review">Post Review</button>
      <%end%> 
    <% end %>

    <div class="reviews">
      <%= render 'reviews' %>      
    </div>

  </article>

</section>
